@import "mixins";

.overflow-hidden {
  overflow: hidden;
}

.display-hidden{
  display: none;
}

.width-max{
  width: 100%;
}

.height-max {
  height: 100%;
}

a.link-no-style, a.link-no-style:hover{
  text-decoration: none;
  color: inherit !important;
}

.underline {
  text-decoration: underline !important;
}

.hand,.cursor-pointer {
  cursor: pointer;
}

.bold,.text-bold {
  font-weight: bold;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.first {
  padding-left: 0;
}

.last {
  padding-right: 0;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.vertical-text-top {
  vertical-align: text-top;
}

.vertical-text-top {
  vertical-align: text-top;
}



.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border: none !important;
}

.no-underline {
  text-decoration: none !important;
}


@for $i from 0 through 20 {
  @include text-size(8+($i*2));
}

@for $i from 0 through 7 {
  @include text-size(11+($i*2));
}

@for $i from 0 through 4 {
  @include text-size(50+($i*10));
}

$display: inline, block, flex, inline-block, none;
@each $item in $display {
    .display-#{$item} {
        display: #{$item};
    }
}

$position: fixed, absolute, relative, static;
@each $item in $position {
    .position-#{$item} {
        position: #{$item};
    }
}

$align-items: stretch, center, flex-start, flex-end, baseline;
@each $item in $align-items {
    .align-#{$item} {
        align-items: #{$item};
    }
}

$justify-content: flex-start, flex-end, center, space-between, space-around;
@each $item in $align-items {
    .justify-#{$item} {
        justify-content: #{$item};
    }
}

@include create-flex-group("all");
@include create-margin-group("all");
@include create-padding-group("all");

@include create-flex-group("xs");
@include create-margin-group("xs");
@include create-padding-group("xs");

@media (min-width: 768px) {
  @include create-flex-group("sm");
  @include create-margin-group("sm");
  @include create-padding-group("sm");
}
@media (min-width: 992px) {
  @include create-flex-group("md");
  @include create-margin-group("md");
  @include create-padding-group("md");
}

@media (min-width: 1200px) {
  @include create-flex-group("lg");
  @include create-margin-group("lg");
  @include create-padding-group("lg");
}
